@model GoCDemoLibrary.Models.Product

@{
    ViewData["Title"] = "Details";
}

<h2>@Html.DisplayFor(model => model.ProductName)</h2>

<div>
    <div class="container product-details">
        <div class="row">
            <div class="product-list">
                <div class="product-box">
                    <div class="product-box-image">
                        <img src="~/images/Image-Coming-Soon.jpg" class="img-responsive" alt="img" />
                    </div>

                    <div class="product-footer">
                        <p>@Html.DisplayFor(model => model.ProductDescription)</p>
                        <p>Price: £@Html.DisplayFor(model => model.ProductPrice)</p>
                        <p>Type: @Html.DisplayFor(model => model.ProductTypeName)</p>
                    </div>
                </div>
   
            </div>
        </div>
    </div>


    @*<h4>Product</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ProductName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ProductName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ProductDescription)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ProductDescription)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ProductImage)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ProductImage)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ProductPrice)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ProductPrice)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ProductTypeName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ProductTypeName)
        </dd>
    </dl>*@
</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>
